/* vim: set sw=4 ; */
html {
    background-color: black;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bbb;
}
.disabled {
    color: #444;
}
input {
    color: #444;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
